@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}
body{
  font-family: 'Yandex Sans Display', sans-serif !important;

}

.container{
  max-width: 1200px;
  margin: auto;
}

.container-pages{
  max-width: 880px;
  margin: auto;
}

.product-h3{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.product-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.fontSize11{
  @apply text-[11px]
}
.fontSize12{
  @apply text-[12px]
}
.fontSize13{
  @apply text-[13px]
}
.fontSize14 {
  @apply text-[14px]
}

.fontSize15 {
  @apply text-[14px]
}

.fontSize16 {
  @apply text-[16px]
}

.fontSize18 {
  @apply text-[18px]
}

.fontSize20 {
  @apply text-[20px]
}

.fontSize36 {
  @apply text-[36px]
}

.fontSize40 {
  @apply text-[40px]
}


